#encuesta
  #question_1.question
    ¿Ha tratado alguna vez de no beber por una semana (o mas) sin haber logrado cumplir el plazo?
    %p
      Casi todos nosotros hemos estado sin beber muchas veces antes de ingresar a AA hicimos serias promesas a nuestros familiares y patronos.
      Juramos solemnemente. Nada resulto hasta que nos unimos a AA ahora tomamos las cosas con calma y no prometemos nada ni a nosotros mismos,
      ni a otras personas. nos concretamos simplemente a no beber el primer trago HOY.

    = link_to_function("Si", "increment_answer('question_1')")
    = link_to_function("No", "show_next('question_1')")

  #question_2.question.hidden
    ¿Le molestan los consejos de otras personas que han tratado de convencerle que deje de beber?
    %p
      Casi todos nosotros hemos estado sin beber muchas veces antes de ingresar a AA hicimos serias promesas a nuestros familiares y patronos.
      Juramos solemnemente. Nada resulto hasta que nos unimos a AA ahora tomamos las cosas con calma y no prometemos nada ni a nosotros mismos,
      ni a otras personas. nos concretamos simplemente a no beber el primer trago HOY.

    = link_to_function("Si", "increment_answer('question_2');")
    = link_to_function("No", "show_next('question_2')")

  #question_3.question.hidden
    ¿Ha tratado alguna vez de controlarse, cambiando de una clase de bebida a otra?
    %p
      Casi todos nosotros hemos estado sin beber muchas veces antes de ingresar a AA hicimos serias promesas a nuestros familiares y patronos.
      Juramos solemnemente. Nada resulto hasta que nos unimos a AA ahora tomamos las cosas con calma y no prometemos nada ni a nosotros mismos,
      ni a otras personas. nos concretamos simplemente a no beber el primer trago HOY.

    = link_to_function("Si", "increment_answer('question_3');")
    = link_to_function("No", "show_next('question_3')")

  #question_4.question.hidden
    ¿Ha bebido alguna vez por la mañana durante el ultimo año?
    %p
      Casi todos nosotros hemos estado sin beber muchas veces antes de ingresar a AA hicimos serias promesas a nuestros familiares y patronos.
      Juramos solemnemente. Nada resulto hasta que nos unimos a AA ahora tomamos las cosas con calma y no prometemos nada ni a nosotros mismos,
      ni a otras personas. nos concretamos simplemente a no beber el primer trago HOY.

    = link_to_function("Si", "increment_answer('question_4');")
    = link_to_function("No", "show_next('question_4')")


  #question_5.question.hidden
    ¿Envidia usted a las personas que pueden beber sin que esto les ocasione dificultades?
    %p
      Casi todos nosotros hemos estado sin beber muchas veces antes de ingresar a AA hicimos serias promesas a nuestros familiares y patronos.
      Juramos solemnemente. Nada resulto hasta que nos unimos a AA ahora tomamos las cosas con calma y no prometemos nada ni a nosotros mismos,
      ni a otras personas. nos concretamos simplemente a no beber el primer trago HOY.

    = link_to_function("Si", "increment_answer('question_5');")
    = link_to_function("No", "show_next('question_5')")

  #question_6.question.hidden
    ¿Ha empeorado progresivamente su problema con la bebida durante el ultimo año?
    %p
      Casi todos nosotros hemos estado sin beber muchas veces antes de ingresar a AA hicimos serias promesas a nuestros familiares y patronos.
      Juramos solemnemente. Nada resulto hasta que nos unimos a AA ahora tomamos las cosas con calma y no prometemos nada ni a nosotros mismos,
      ni a otras personas. nos concretamos simplemente a no beber el primer trago HOY.

    = link_to_function("Si", "increment_answer('question_6');")
    = link_to_function("No", "show_next('question_6')")

  #question_7.question.hidden
    ¿Ha ocasionado su modalidad de beber, problemas en su hogar?
    %p
      Casi todos nosotros hemos estado sin beber muchas veces antes de ingresar a AA hicimos serias promesas a nuestros familiares y patronos.
      Juramos solemnemente. Nada resulto hasta que nos unimos a AA ahora tomamos las cosas con calma y no prometemos nada ni a nosotros mismos,
      ni a otras personas. nos concretamos simplemente a no beber el primer trago HOY.

    = link_to_function("Si", "increment_answer('question_7');")
    = link_to_function("No", "show_next('question_7')")

  #question_8.question.hidden
    ¿En reuniones sociales donde la bebida es controlada, trata usted de conseguir tragos extras?
    %p
      Casi todos nosotros hemos estado sin beber muchas veces antes de ingresar a AA hicimos serias promesas a nuestros familiares y patronos.
      Juramos solemnemente. Nada resulto hasta que nos unimos a AA ahora tomamos las cosas con calma y no prometemos nada ni a nosotros mismos,
      ni a otras personas. nos concretamos simplemente a no beber el primer trago HOY.

    = link_to_function("Si", "increment_answer('question_8');")
    = link_to_function("No", "show_next('question_8')")

  #question_9.question.hidden
    ¿A pesar de ser evidente que no puede controlarse, ha continuado usted afirmando que puede dejar de beber por si solo cuando quiera hacerlo?
    %p
      Casi todos nosotros hemos estado sin beber muchas veces antes de ingresar a AA hicimos serias promesas a nuestros familiares y patronos.
      Juramos solemnemente. Nada resulto hasta que nos unimos a AA ahora tomamos las cosas con calma y no prometemos nada ni a nosotros mismos,
      ni a otras personas. nos concretamos simplemente a no beber el primer trago HOY.

    = link_to_function("Si", "increment_answer('question_9');")
    = link_to_function("No", "show_next('question_9')")

  #question_10.question.hidden
    ¿Ha faltado a su trabajo durante el ultimo año a causa de la bebida?
    %p
      Casi todos nosotros hemos estado sin beber muchas veces antes de ingresar a AA hicimos serias promesas a nuestros familiares y patronos.
      Juramos solemnemente. Nada resulto hasta que nos unimos a AA ahora tomamos las cosas con calma y no prometemos nada ni a nosotros mismos,
      ni a otras personas. nos concretamos simplemente a no beber el primer trago HOY.

    = link_to_function("Si", "increment_answer('question_10');")
    = link_to_function("No", "show_next('question_10')")

  #question_11.question.hidden
    ¿Ha tenido alguna vez "lagunas mentales" a causa de la bebida?
    %p
      Casi todos nosotros hemos estado sin beber muchas veces antes de ingresar a AA hicimos serias promesas a nuestros familiares y patronos.
      Juramos solemnemente. Nada resulto hasta que nos unimos a AA ahora tomamos las cosas con calma y no prometemos nada ni a nosotros mismos,
      ni a otras personas. nos concretamos simplemente a no beber el primer trago HOY.

    = link_to_function("Si", "increment_answer('question_11');")
    = link_to_function("No", "show_next('question_11')")

  #question_12.question.hidden
    ¿Ha pensado alguna vez que llevaria una vida mejor si no bebiera?
    %p
      Casi todos nosotros hemos estado sin beber muchas veces antes de ingresar a AA hicimos serias promesas a nuestros familiares y patronos.
      Juramos solemnemente. Nada resulto hasta que nos unimos a AA ahora tomamos las cosas con calma y no prometemos nada ni a nosotros mismos,
      ni a otras personas. nos concretamos simplemente a no beber el primer trago HOY.

    = link_to_function("Si", "increment_answer('question_12');")
    = link_to_function("No", "show_result()")

  #result.hidden
    RESULTADO:

:javascript
  function increment_answer(element){
    counter += 1
    show_next(element);

    if(element == "question_12"){
      show_result();
    }
  }

  function show_next(element){
    $("#"+element).next().fadeIn();
    $("#"+element).fadeOut();
  }

  function show_result(){
    var message = ""

    if(counter >= 4){
      message = "Probablemente usted tiene un problema serio con el alcohol o lo podria tener en un futuro cercano."
    }else{
      message = "felicitaciones, al parecer no tiene problemas con el manejo del alcohol."
    }

    $("#question_12").fadeOut();
    $("#result").append(message);
  }