<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
   <head>
      <title>
         Alcoholicos Anonimos
      </title><%= stylesheet_link_tag "alan.css", "screen.css" %><%= javascript_include_tag "jquery.min","jquery.easing", "jquery-ui.min","jquery.flipCounter", "rails", "application", "jquery.alerts", "easySlider.js" %><%= csrf_meta_tag %>
      <script type="text/javascript">

      function slideSwitch() {
         var $active = $('#slideshow IMG.active');

         if ( $active.length == 0 ) $active = $('#slideshow IMG:last');

         var $next =  $active.next().length ? $active.next()
             : $('#slideshow IMG:first');

         $active.addClass('last-active');

         $next.css({opacity: 0.0})
             .addClass('active')
             .animate({opacity: 1.0}, 1000, function() {
                 $active.removeClass('active last-active');
             });
      }

      jQuery(document).ready(function($) {
            counter = 0;
            $("#counter").flipCounter();

            $(function() {
                setInterval( "slideSwitch()", 5000 );
            });
      });
      </script>
   </head>
   <body>
      <div id="flash_container">
         <% flash.each do |key, msg| %><% if msg && !msg.empty? %>
         <div id="<%= key%>">
            <%= msg unless msg.is_a?(Array)%><% if msg.is_a? Array%>
            <ul>
               <% msg.map do |m|%>
               <li>
                  <%= m %>
               </li><%end%>
            </ul><% end%>
         </div><% end%><% end %>
      </div>
      <div id="wrapper">
         <!-- header -->
         <div class="header">
            <div class="headertop">
               <img src="images/spacer.gif" alt="" border="0">
            </div>
         </div>
         <div class="header">
            <img src="images/header_image.jpg" alt="" border="0">
         </div>
         <div class="topmenu">
            <div class="floatleft white">
               <img src="images/spacer.gif" alt="" border="0">
            </div>
            <div class="floatleft black">
               <img src="images/spacer.gif" alt="" border="0">
            </div>
            <div class="floatleft grey">
               <img src="images/spacer.gif" alt="" border="0">
            </div>
            <div class="floatleft deepblue">
               <img src="images/spacer.gif" alt="" border="0">
            </div>
            <div class="floatleft menucontainergreen">
               <div class="floatleft menucontainerdeepblue">
                  <div class="floatleft lightblue">
                     <img src="images/spacer.gif" alt="" border="0">
                  </div>
                  <div class="floatleft menucontainerlightblue">
                     <div class="menubg">
                        <ul>
                           <!-- <li><a href="index.html" class="home">&nbsp;</a></li> -->
                           <li>
                              <%= link_to "INICIO", "/home", :class => "menu_link"%>
                           </li>
                           <li>
                              <%= link_to "QUIENES SOMOS", "/somos", :class => "menu_link nobg"%>
                           </li>
                           <li>
                              <%= link_to "CONTACTENOS", contact_path, :class => "menu_link"%>
                           </li>
                           <li>
                              <%= link_to "DESCARGAS", "/descargas", :class => "menu_link"%>
                           </li>

                        </ul>
                     </div>
                  </div>
                  <div class="floatleft lightblue">
                     <img src="images/spacer.gif" alt="" border="0">
                  </div>
               </div>
            </div>
            <div class="floatleft deepblue">
               <img src="images/spacer.gif" alt="" border="0">
            </div>
            <div class="floatleft grey">
               <img src="images/spacer.gif" alt="" border="0">
            </div>
            <div class="floatleft black">
               <img src="images/spacer.gif" alt="" border="0">
            </div>
            <div class="floatleft white">
               <img src="images/spacer.gif" alt="" border="0">
            </div>
         </div><!-- /header -->
         <!-- middlecontent -->
         <div class="middlecontentwhite">
            <div class="middlecontentblack">
               <div class="middlecontentgrey">
                  <div class="middlecontent">
                     <div class="middlecontenttopbg">
                        <img src="images/spacer.gif" alt="" border="0">
                     </div>
                     <div class="spacerdiv">
                        <img src="images/spacer.gif" alt="" border="0">
                     </div>
                     <div class="left">
                        <img src="images/spacer.gif" alt="" border="0">
                     </div>
                     <div class="leftbox">
                        <div class="homeleftboxbg">
                           <div class="title">
                              Grupos presentes en las bodas de AA en Colombia.<br>
                              <br>
                              <%= link_to "Region A", region_path, :class => "region_link"%><br>
                              <%= link_to "Region B", region_path, :class => "region_link"%><br>
                              <%= link_to "Region C", region_path, :class => "region_link"%><br>
                              <%= link_to "Region D", region_path, :class => "region_link"%><br>
                              <%= link_to "Region E", region_path, :class => "region_link"%><br>
                              <%= link_to "Region Exterior ", region_path, :class => "region_link"%><br>
                           </div>
                        </div>
                        <div class="box1_con_lightblue">
                           <a href="https://sites.google.com/site/aaelmensajecolombia/" target="blank">
                              <img src="images/aa_redirect.jpg" alt="" border="0">
                           </a>
                           </br>
                           <a href="http://www.aa.org/bigbookonline/sp_tableofcnt.cfm" target="blank">
                              <img src="images/aa_redirected_2.jpg" alt="" border="0">
                           </a>
                           </br>
                           Counter Visitors
                           <div id="counter">
                              <input type="hidden" name="counter-value" value="100">
                           </div>
                        </div>
                     </div>
                     <div class="middlebox">
                        <div class="contenttop">
                           <%= yield%>
                           <div class="divider">
                              <img src="images/homesep.jpg" alt="" border="0" width="1" height="373">
                           </div>
                           <div class="spacerdiv2">
                              <img src="images/spacer.gif" alt="" border="0">
                           </div>
                        </div>
                        <div class="contentbottom">
                        </div>
                     </div>
                     <div class="footerspacer">
                        <img src="images/spacer.gif" alt="" border="0">
                     </div>
                  </div>
               </div>
            </div>
         </div><!-- /middlecontent -->
         <!-- footer  maintain license info in footer   -->
         <div class="footerlightgrey custom_footer">
            <div class="innerfootercontent">
               <span class="footer_title">Corporación Nacional de Servicios Generales de Alcohólicos Anónimos</span>
            </br>
               <span class="footer_info">Carrera 54 No. 52-36. Oficina 17  Edificio Sociedad de Mejoras Públicas Tel: 3440313 – 3704972</span>
            </br>
                <span class="footer_info">Barranquilla – Colombia</span>
            </br>
               <span class="footer_title" style="font-weight: normal;">Todos los derechos reservados.</span>
            </div>
         </div>
      </div>
      <div class="footerbottom">
         <img src="images/spacer.gif" alt="" border="0">
      </div><%= yield :javascript%>
   </body>
</html>
