<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
   <head>
      <title>
         Alcoholicos Anonimos
      </title><%= stylesheet_link_tag "alan.css", "screen.css" %>
      <%= javascript_include_tag "jquery.min","jquery.easing", "jquery-ui.min","jquery.flipCounter", "rails", "application", "jquery.alerts", "easySlider.js","jquery.nivo.slider.js","jquery.nivo.slider.pack.js","slides.min.jquery.js" %><%= csrf_meta_tag %>
      <script type="text/javascript">      

      jQuery(document).ready(function($) {
         counter = 0;
         $("#counter").flipCounter();
         $(function(){
            $('#slides').slides({
               preload: true,
               preloadImage: 'img/loading.gif',
               play: 5000,
               pause: 2500,
               hoverPause: true,
               animationStart: function(current){
                  $('.caption').animate({
                     bottom:-35
                  },100);
                  if (window.console && console.log) {
                     // example return of current slide number
                     console.log('animationStart on slide: ', current);
                  };
               },
               animationComplete: function(current){
                  $('.caption').animate({
                     bottom:0
                  },200);
                  if (window.console && console.log) {
                     // example return of current slide number
                     console.log('animationComplete on slide: ', current);
                  };
               },
               slidesLoaded: function() {
                  $('.caption').animate({
                     bottom:0
                  },200);
               }
            });
         });      
      });
      </script>
   </head>
   <body>
      <div id="flash_container">
         <% flash.each do |key, msg| %><% if msg && !msg.empty? %>
         <div id="<%= key%>">
            <%= msg unless msg.is_a?(Array)%><% if msg.is_a? Array%>
            <ul>
               <% msg.map do |m|%>
               <li>
                  <%= m %>
               </li><%end%>
            </ul><% end%>
         </div><% end%><% end %>
      </div>
      <div id="wrapper">               
         <div class="header">
            <img src="images/header_image.jpg" alt="" border="0">
         </div>
         <div class="topmenu">         
            <div class="floatleft menucontainergreen">
               <div class="floatleft menucontainerdeepblue">                  
                  <div class="floatleft menucontainerlightblue">
                     <div class="menubg">
                        <ul>
                           <!-- <li><a href="index.html" class="home">&nbsp;</a></li> -->
                           <li>
                              <%= link_to "INICIO", "/home", :class => "menu_link"%>
                           </li>
                           <li>
                              <%= link_to "QUIENES SOMOS", "/somos", :class => "menu_link nobg"%>
                           </li>
                           <li>
                              <%= link_to "CONTACTENOS", contact_path, :class => "menu_link"%>
                           </li>
                           <li>
                              <%= link_to "DESCARGAS", "/descargas", :class => "menu_link"%>
                           </li>
                           <li>
                              <%= link_to "EVENTOS", "/eventos", :class => "menu_link"%>
                           </li>
                        </ul>
                     </div>
                  </div>
                  
               </div>
            </div>            
         </div>
         
         <div class="middlecontentwhite">
            <div class="middlecontentblack">
               <div class="middlecontentgrey">
                  <div class="middlecontent">
                     <div class="leftbox">
                        <div class="homeleftboxbg">
                           <div class="title">
                              Grupos presentes en las bodas de AA en Colombia.<br>
                              <br>
                              <%= link_to "Region A", region_path, :class => "region_link"%><br>
                              <%= link_to "Region B", region_path, :class => "region_link"%><br>
                              <%= link_to "Region C", region_path, :class => "region_link"%><br>
                              <%= link_to "Region D", region_path, :class => "region_link"%><br>
                              <%= link_to "Region E", region_path, :class => "region_link"%><br>
                              <%= link_to "Region Exterior ", region_path, :class => "region_link"%><br>
                           </div>
                           <div class="box1_con_lightblue">
                              <a href="https://sites.google.com/site/aaelmensajecolombia/" target="blank">
                                 <img src="images/aa_redirect.jpg" alt="" border="0">
                              </a>
                              </br>
                              <a href="http://www.aa.org/bigbookonline/sp_tableofcnt.cfm" target="blank">
                                 <img src="images/aa_redirected_2.jpg" alt="" border="0">
                              </a>
                              </br>
                              Counter Visitors
                              <div id="counter">
                                 <input type="hidden" name="counter-value" value="<%= Visitor.count.to_s%>">
                              </div>
                              
                           </div>

                        </div>
                     </div>
                     <div class="middlebox">
                        <div class="contenttop">
                           <%= yield%>                        
                        </div>
                        <div class="contentbottom">
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
         </div>
         
         <div class="footerlightgrey custom_footer">
            <div class="innerfootercontent">
               <span class="footer_title">Comité de Àrea 3 Región A Territorio Norte Sección Colombia</span>
             </br>
               <span class="footer_info">Carrera 54 No. 52-36. Oficina 17  Edificio Sociedad de Mejoras Públicas Tel: 3440317 – 3704972</span>
             </br>
                <span class="footer_info">Barranquilla – Colombia</span>
               </br>
               <span class="footer_title" style="font-weight: normal;">Todos los derechos reservados.</span>
            </div>
         </div>      
         
           
      </div>      
      <%= yield :javascript%>      
   </body>
</html>
