<!DOCTYPE html>
<html>
<head>
  <title>Alquiler</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
   <div id="flash_container">
      <% flash.each do |key, msg| %>
         <% if msg && !msg.empty? %>
         <div id="<%= key%>">
            <%= msg unless msg.is_a?(Array)%>
            <% if msg.is_a? Array%>
            <ul>
               <% msg.map do |m|%>
                  <li>
                     <%= m %>
                  </li>
               <%end%>
            </ul>
            <% end%>
         </div>
         <% end%>
      <% end %>
   </div>

   <div id="wrap">

      <div id="header">
         <h1><a href="#">Alquileres Donde Luis</a></h1>
         <h2 class="sub-header">Sillas, Mesas, Mesones, Manteles</h2>
         <h2>
           <%= link_to("Nuevo alquiler", new_alkiler_path, :class => "main_button") %>
         </h2>
      </div>
      <div id="banner"></div>
      <%= yield %>
      <div style="clear:both;">
      </div>
      <div id="footer">
        Diseñado por mi
      </div>

   </div>
<%= yield :javascript%>
</body>
</html>
